################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Mehrsam-Darou-master/Mehrsam Darou/Models/DarouAppContext.cs
/Mehrsam-Darou-master/.vs/Mehrsam Darou
