@model Mehrsam_Darou.Models.Organization

@{
    ViewData["Title"] = "ویرایش سازمان";
}

<h2>ویرایش سازمان</h2>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <!-- Success and Error Alerts -->
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success px-2" role="alert">
                        <p class="mb-0">با موفقیت انجام شد</p>
                        <p class="mb-0">@TempData["SuccessMessage"]</p>
                    </div>
                }

                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-primary px-2" role="alert">
                        <p class="mb-0">خطا</p>
                        <p class="mb-0">@TempData["ErrorMessage"]</p>
                    </div>
                }

                <form asp-action="EditOrganization" method="post">
                    <input type="hidden" asp-for="Id" />

                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="form-group">
                                <label asp-for="Name">نام سازمان</label>
                                <input asp-for="Name" class="form-control" required />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6 mb-4">
                            <div class="form-group">
                                <label asp-for="Priority">اولویت</label>
                                <input asp-for="Priority" type="number" class="form-control" required />
                                <span asp-validation-for="Priority" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="text-end mt-4">
                        <button type="submit" class="btn btn-primary">ذخیره تغییرات</button>
                        <a asp-action="OrganizationList" class="btn btn-secondary">انصراف</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}